<h1>Конкурсы</h1>

<table>
  <tr>
    <th>Название</th>
    <th colspan="2"></th>
  </tr>

  <% @contests.each do |contest| %>
    <tr>
      <td><%= contest.title %></td>
      <td><%= link_to 'Показать', contest_path(contest) %></td>
      <td><%= link_to 'Изменить', edit_contest_path(contest) %></td>
      <td><%= link_to 'Удалить', contest_path(contest),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Добавить конкурс',
  new_contest_path,
  class: 'btn btn-default'%>
